Repository bdougie/contributor.info, pull requests merged in 2025-10, with the labels that each got.

#868 feat: Add GitHub App installation CTA (Phase 0)
  public/docs/github-app-setup.md
  src/components/features/docs/docs-loader.ts
  src/components/features/github-app/github-app-install-cta.tsx
  src/hooks/use-github-app-status.ts
  src/pages/workspace-page.tsx
Labels: frontend, components, hooks

#876 feat: Add github_id columns to pull_requests for DLT sync
  supabase/migrations/20251001000000_add_github_id_columns_to_pull_requests.sql
Labels: database

#878 fix: Make author_id and repository_id nullable in pull_requests
  supabase/migrations/20251001000001_make_pr_uuid_columns_nullable.sql
Labels: database

#880 fix: Make foreign key constraints deferrable for DLT merge compatibility
  supabase/migrations/20251001000002_make_fk_constraints_deferrable.sql
Labels: database

#864 fix(email): correct workspace invitation URL format in emails
  actions/continue-review/index.ts
  e2e/workspace-invitation.spec.ts
  src/lib/email/workspace-invitation-email.test.ts
  src/pages/invitation-acceptance-page.tsx
  supabase/functions/workspace-invitation-email/index.ts
Labels: frontend, lib, testing, database

#884 feat: Add automated monitoring and cleanup for Inngest jobs
  INNGEST_SWITCH_INSTRUCTIONS.md
  src/lib/inngest/types/event-data.ts
  supabase/functions/cleanup-stuck-jobs/index.ts
  supabase/functions/health-inngest/index.ts
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Labels: documentation, enhancement, frontend, lib, database, monitoring, infrastructure

#886 fix: Inngest jobs now update completion status
  src/lib/inngest/functions/capture-pr-comments.ts
  src/lib/inngest/functions/capture-repository-sync-graphql.ts
  src/lib/inngest/helpers/job-status-updater.ts
  supabase/migrations/20251001000003_automated_stuck_job_cleanup.sql
Labels: frontend, lib, database

#890 feat: Add Inngest pipeline validation
  docs/infrastructure/inngest-pipeline-validation.md
  scripts/validate-inngest.mjs
Labels: documentation, build

#887 fix: social cards
  index.html
  src/components/common/layout/home.tsx
  src/components/common/layout/meta-tags-provider.tsx
  src/components/features/repository/repo-view.tsx
  src/pages/org-view.tsx
  src/pages/user-view.tsx
Labels: frontend, components

#902 security: Remove hardcoded gh-datapipe API URLs to reduce attack surface
  .env.example
  netlify/functions/backfill-trigger.ts
  public/_headers
  src/lib/manual-backfill/client.ts
  src/lib/manual-backfill/server-client.ts
  supabase/functions/manual-backfill/index.ts
Labels: frontend, lib, database

#913 fix: Normalize GitHub review states to prevent database constraint violations
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/progressive-capture/review-comment-processor.ts
  supabase/functions/pr-details-batch/index.ts
  supabase/functions/repository-sync-graphql/index.ts
Labels: frontend, lib, database

#898 fix(spam-detection): resolve Edge Function import errors and database query issues
  docs/supabase/spam-detection-fix-summary.md
  supabase/functions/_shared/spam-detection-integration.ts
  supabase/functions/spam-detection/index.ts
  supabase/migrations/20251002000000_create_spam_detections_table.sql
Labels: documentation, database

#920 feat: Add contributor hover cards across workspace views
  HOVER_CARD_FIXES_SUMMARY.md
  docs/implementations/hover-card-data-consistency-fixes.md
  docs/implementations/hover-card-improvements-summary.md
  src/components/features/contributor/contributor-hover-card.tsx
  src/components/features/workspace/ActivityTable.tsx
  src/components/features/workspace/ContributorsTable.tsx
  src/components/features/workspace/WorkspaceIssuesTable.tsx
  src/components/features/workspace/WorkspacePullRequestsTable.tsx
  src/components/features/workspace/charts/AssigneeDistributionChart.tsx
  src/components/features/workspace/charts/PRAuthorStatusChart.tsx
  src/components/features/workspace/charts/ReviewerDistributionChart.tsx
  src/components/social-cards/repo-card.tsx
  src/lib/email/workspace-invitation-email.test.ts
  src/lib/types.ts
  src/lib/workspace-hover-card-utils.ts
  src/pages/workspace-page.tsx
Labels: documentation, frontend, components, lib, testing, social

#926 fix: Add missing repository_id and author_id to review writes
  src/lib/inngest/functions/capture-pr-reviews.ts
  src/lib/inngest/types.ts
  supabase/migrations/20251003000001_backfill_missing_pull_request_data.sql
Labels: frontend, lib, database

#928 Add unit tests for capture-pr-reviews Inngest function
  src/lib/inngest/functions/__tests__/capture-pr-reviews.test.ts
  src/lib/inngest/functions/capture-pr-reviews.ts
Labels: frontend, lib, testing

#935 [Snyk] Upgrade posthog-js from 1.260.2 to 1.265.0
  package-lock.json
  package.json
Labels: config, dependencies

#937 [Snyk] Upgrade dub from 0.63.7 to 0.66.4
  package-lock.json
  package.json
Labels: config, dependencies

#934 [Snyk] Upgrade playwright from 1.54.1 to 1.55.0
  fly-social-cards/package.json
  package-lock.json
  package.json
  src/hooks/__tests__/monthly-rankings-date-logic.test.ts
  src/hooks/use-monthly-contributor-rankings.ts
Labels: frontend, hooks, testing, config, dependencies

#941 fix: use author_id instead of reviewer_id for PR review authors
  src/pages/workspace-page.tsx
Labels: frontend

#942 fix: show only winner with toggle during active month leaderboard
  performance-analysis-continue.md
  src/components/features/contributor/contributor-of-the-month.tsx
Labels: documentation, frontend, components

#953 Performance: Optimize LCP from 301ms to 262ms
  index.html
  src/App.tsx
  src/lib/posthog-lazy.ts
Labels: frontend, lib

#955 feat: Add Mintlify documentation setup
  .github/workflows/release.yml
  docs/product-requirements/documentation-images-execution-plan.md
  docs/product-requirements/prd-user-docs-images.md
  mintlify-docs/README.md
  mintlify-docs/changelog.mdx
  mintlify-docs/custom.css
  mintlify-docs/docs.json
  mintlify-docs/favicon.ico
  mintlify-docs/favicon.svg
  mintlify-docs/features/activity-feed.mdx
  mintlify-docs/features/authentication.mdx
  mintlify-docs/features/contribution-analytics.mdx
  mintlify-docs/features/contributor-confidence.mdx
  mintlify-docs/features/contributor-of-month.mdx
  mintlify-docs/features/distribution-charts.mdx
  mintlify-docs/features/github-app-setup.mdx
  mintlify-docs/features/hover-cards.mdx
  mintlify-docs/features/lottery-factor.mdx
  mintlify-docs/features/repository-health.mdx
  mintlify-docs/features/repository-search.mdx
  mintlify-docs/insights/needs-attention.mdx
  mintlify-docs/insights/pr-activity.mdx
  mintlify-docs/insights/recommendations.mdx
  mintlify-docs/insights/repository-health.mdx
  mintlify-docs/introduction.mdx
  netlify.toml
  public/changelog-feeds.json
  public/changelog-rss.xml
  public/docs/README.md
  public/docs/feature-trending-repositories.md
  src/App.tsx
  src/components/features/docs/doc-detail.tsx
  src/components/features/docs/docs-list.tsx
  src/components/features/docs/docs-loader.ts
  src/components/features/docs/docs-navigation.tsx
  src/components/features/docs/docs-page-optimized.tsx
  src/components/features/docs/docs-page.tsx
  src/components/features/docs/docs-seo.tsx
  src/components/features/docs/docs-sidebar.tsx
  src/components/features/docs/docs-toc.tsx
  src/components/features/docs/index.ts
  src/lib/llm/__tests__/llm-service.test.ts
  src/lib/route-prefetch.ts
  src/lib/service-worker-client.test.ts
  src/lib/service-worker-client.ts
  src/main.tsx
Labels: documentation, frontend, components, lib, testing, config, ci

#963 feat: Update favicon and workspace icon to plant logo
  mintlify-docs/favicon.svg
  public/favicon.ico
  public/favicon.svg
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
  src/components/icons/PlantIcon.tsx
  src/components/navigation/WorkspaceSwitcher.tsx
Labels: frontend, components

#967 fix: Add docs subdomain to CSP connect-src directive
  public/_headers
Labels: frontend

#966 feat: Add workspace metrics functions to Netlify Inngest endpoint
  docs/infrastructure/dual-inngest-architecture.md
  netlify/functions/inngest-embeddings.mts
  src/lib/inngest/functions/aggregate-workspace-metrics.ts
Labels: documentation, frontend, lib

#969 feat: Implement webhook priority system for GitHub App data fetching
  app/webhooks/__tests__/pull-request.test.ts
  app/webhooks/installation.ts
  app/webhooks/issues.ts
  app/webhooks/pull-request.ts
  docs/data-fetching/manual-repository-tracking.md
  docs/data-fetching/webhook-priority-system.md
  src/lib/progressive-capture/queue-manager.ts
  supabase/migrations/20251005000000_webhook_priority_system.sql
Labels: documentation, frontend, lib, database

#973 feat: Add notification system for async operations
  docs/features/notification-system.md
  src/components/common/layout/layout.tsx
  src/components/notifications/index.ts
  src/components/notifications/notification-dropdown.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notifications-list.tsx
  src/hooks/use-notifications.ts
  src/hooks/use-repository-tracking.ts
  src/lib/notifications/index.ts
  src/lib/notifications/notification.service.ts
  src/lib/notifications/types.ts
  supabase/migrations/20251006000000_notifications_table.sql
Labels: documentation, frontend, components, hooks, lib, database

#983 fix: resolve notes data isolation and overwrite bugs
  src/hooks/useContributorGroups.ts
  src/pages/__tests__/workspace-page-notes.test.tsx
  src/pages/workspace-page.tsx
  supabase/migrations/20250206_fix_contributor_notes_multiple_per_contributor.sql
Labels: frontend, hooks, testing, database

#999 fix(discussions): auto-generate summaries and ensure authors in contributors
  docs/data-fetching/discussion-background-sync.md
  docs/data-fetching/discussion-sync-quick-reference.md
  netlify/functions/inngest-unified.mts
  scripts/data-sync/README.md
  scripts/data-sync/backfill-discussion-summaries.mjs
  scripts/data-sync/backfill-discussions.mjs
  src/lib/inngest/functions/capture-repository-discussions.ts
  src/lib/inngest/functions/index-without-embeddings.ts
Labels: documentation, frontend, lib, build

#1002 Fix continue-docs-review action to suggest docs when code changes without doc updates
  .continue/doc-templates/README.md
  .continue/doc-templates/api-template.md
  .continue/doc-templates/architecture-template.md
  .continue/doc-templates/feature-template.md
  .continue/doc-templates/migration-template.md
  .github/workflows/continue-docs-review.yml
  actions/continue-docs-review/index.ts
Labels: config, ci

#1003 feat(notifications): add invite status notifications for workspace invitations
  docs/features/workspace-invite-notifications.md
  e2e/workspace-invitation.spec.ts
  src/lib/notifications/__tests__/types.test.ts
  src/lib/notifications/types.ts
  src/services/workspace.service.ts
  supabase/functions/workspace-invitation-accept/index.ts
Labels: documentation, frontend, lib, testing, database

#1014 fix(embeddings): add discussions to embedding generation system
  supabase/migrations/20251007000000_add_discussions_embeddings.sql
Labels: database

#1019 fix(embeddings): configure esbuild ESM format for inngest-embeddings function
  netlify.toml
Labels: config
